{{ $src :=  .Get "src"}}
{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $width :=  .Get "width"}}
{{ $link :=  .Get "link"}}

{{ if $link }}
    <a href="{{ $link }}">
{{ end }}

{{ if $width }}
    {{ $image := ($original.Resize $width ) }}
    <img src="{{ $image.RelPermalink }}">
{{ else }}
    <img src="{{ $src }}">
{{ end }}

{{ if $link }}
    </a>
{{ end }}